@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.bgWhite {
    -fx-background-color: #FFF;
}

.bgTransparent {
    -fx-background-color: transparent;
}
.bg-primery{
    -fx-background-color: #B2BAB3;
}

.border {
    -fx-border-color: #E8E8E8;
    -fx-border-width: 1;
    -fx-border-radius: 5;
}

.banner-bg {
    -fx-background-image: url("../assets/images/RiseOfValor.jpeg");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}


.bg-radius {
    -fx-background-radius: 24; /* Ensure this matches the button's shape */
    -fx-border-radius: 24; /* Add border-radius to match */
}

.duoSelection-bg, .quadSelection-bg {
    -fx-padding: 0;
    -fx-background-insets: 0;
}

.bg-black {
    -fx-background-color: #000;
}

/* Base button styling */
.btn {
    -fx-background-color: #FDD016;
    -fx-text-fill: #01191D;
    -fx-border-color: linear-gradient(to right, #FDD016, #01191D);
    -fx-cursor: hand;
    -fx-font-family: "Press Start 2P", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; /* Gamey font */
    -fx-font-size: 28px;
    -fx-font-weight: bold;
    -fx-padding: 0px 10px;
    -fx-border-radius: 10px; /* Rounded corners */
    -fx-background-radius: 10px; /* Rounded corners */
    -fx-border-insets: 0, -4, -8, -12, -16, -20;
    -fx-border-width: 2px, 2px, 2px, 2px, 2px, 2px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.6), 10, 0.5, 0, 0);
    -fx-text-transform: uppercase;

}

.select-btn {
    -fx-background-color: #437a37;
    -fx-text-fill: #143429;

    -fx-cursor: hand;
    -fx-font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; /* Gamey font */
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 0px 5px;
    -fx-border-radius: 10px; /* Rounded corners */
    -fx-background-radius: 10px; /* Rounded corners */

    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.6), 10, 0.5, 0, 0);
    -fx-text-transform: uppercase;
}

.select-btn:selected {
    -fx-background-color: #16f5fd;
    -fx-text-fill: #01191D;
}

.btn:hover {
    -fx-background-color: #FDD016;
    -fx-border-color: #FDD016,
    rgba(253, 208, 22, 0.75),
    rgba(253, 208, 22, 0.5),
    rgba(253, 208, 22, 0.25);
    -fx-border-insets: 0, -4, -8, -12;
    -fx-border-width: 2px, 2px, 2px, 2px;
    -fx-text-fill: #01191D;
}

.btn-border {
    -fx-border-color: #FFF;
    -fx-border-width: 1px;
    -fx-border-radius: 50px; /* Rounded corners */
    -fx-background-radius: 50px; /* Rounded corners */
}

.btn-border-effect {
    -fx-cursor: hand;
    -fx-border-radius: 10px; /* Rounded corners */
    -fx-background-radius: 10px; /* Rounded corners */
    -fx-border-insets: 0, -4, -8, -12, -16, -20;
    -fx-border-width: 2px, 2px, 2px, 2px, 2px, 2px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.6), 10, 0.5, 0, 0);
    -fx-text-transform: uppercase;
}

.btn-border-effect:hover {
    -fx-background-color: #FDD016;
    -fx-border-color: #FDD016,
    rgba(253, 208, 22, 0.75),
    rgba(253, 208, 22, 0.5),
    rgba(253, 208, 22, 0.25);
    -fx-border-insets: 0, -4, -8, -12;
    -fx-border-width: 2px, 2px, 2px, 2px;
}


.bg-radius {
    -fx-background-radius: 24; /* Ensure this matches the button's shape */
    -fx-border-radius: 24; /* Add border-radius to match */
}


.bg-black {
    -fx-background-color: #000;
}

